<h1>Welcome to MarginDash</h1>

<p>Please verify your email address by clicking the link below:</p>

<p><%= link_to "Verify Email", @url %></p>

<p>If you didn't create an account, you can safely ignore this email.</p>
