<% alerts.each do |alert| %>
  <%= render partial: "alerts/alert_row", locals: { alert: alert } %>
<% end %>
<% if page < total_pages %>
  <tr data-infinite-scroll-target="sentinel" class="sentinel">
    <td colspan="6" class="py-4 text-center text-sm text-gray-400"><%= t("alerts.index.loading_more") %></td>
  </tr>
<% end %>
